@import "bootstrap-5.2.2/scss/bootstrap";

html,
body{
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {

}


main {
  color: #000000;
}

footer {

}

.contact-list{
  list-style: none;
}

.profile-image{
  max-width: 120px;
}

